html{
  background-color: powderblue;
}

h1{
  text-align: center;
  font-size: 65px;
}
.App {
  
  background-color: powderblue;
  
}
.message{
  text-align: center;
  margin: 75px;

}

.room{
  background-color: aliceblue;
  width: 300px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  border-radius: 30%;
  padding-top: 30px;
}

.button{
  padding:10px
}

.output{
  text-align: center;
  background-color: aliceblue;
  width: 300px;
  height: 200px;
  margin: 0 auto;
  padding: 25px;
  border-radius:10%;
  

}

.room-content{
  margin:25px;
  margin: top 25px;
  padding: 25px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
